.searchInput, .searchButton {
  vertical-align: top;
  height: 3.7rem;
  box-sizing: border-box;
}

.searchInput {
  width: 40%;
  border: none;
  border-radius: 7px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  outline: none;
  margin: 0;
  line-height: 0;
  padding: 1.8rem 1rem;
  font-size: 1.2rem;
}

.searchButton {
  border: #000;
  background-color:#000;;
  border-radius: 7px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 3.4rem;
}

.searchButton:hover {
  background-color: #3B3B3B;
}

@media only screen and (min-width: 320px) {
  .searchInput {
    width: 75%;
    font-size: 0.9em;
  }
}

@media only screen and (min-width: 768px) {
  .searchInput {
    width: 60%;
    font-size: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .searchInput {
    width: 50%;
    font-size: 1.3em;
  }
}