.App {
  text-align: center;
  // background-color: salmon;
  height: 100vh;
}

.container {
  position: relative;
  height: 17.8em;
}

.container img {
  height: 100%;
  width: 100vw;
}

.header {
  position: absolute;
  bottom: 46%;
  right: 31%;
  color: white;
}
