.App {
  height: 100vh;
  width: 100%;
}

.header {
  background-image: url("/pattern-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  height: 22em;
  padding-top: 30px;
  text-align: center;
}

.map {
  height: calc(100% - 24.7em);
  width: 100vw;
  bottom: 1em;
}

@media only screen and (min-width: 320px) {
  .header h1 {
    font-size: 1.7em;
  }
}

@media only screen and (min-width: 768px) {
  .header h1 {
    font-size: 2.2em;
  }
}

@media only screen and (min-width: 1024px) {
  .searchInput {
    width: 50%;
    font-size: 1.3em;
  }
}

// @media only screen and (max-width: 900px) {
//   .map {
//     bottom: 16.4em;
//   }
// }

// @media only screen and (max-width: 650px) {
//   .map {
//     bottom: 29em;
//   }
// }

// @media only screen and (max-width: 375px) {
//   .map {
//     bottom: 31.4em;
//   }
// }